.add-tel-form {
    padding: 20px 10px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    width: 400px;
}

.tel-name,
.tel-number {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 25px;
}

.submit {
    width: 100px;
}

.contact {
    font-size: 30px;
    font-weight: 500;
}

.contact-box {
    display: flex;
    gap: 10px;
    align-items: center;
}